$color-primary: #ffffff;
$color-secondary: #1d1d1d;

$color-grey-1: #343434;
$color-grey-2: #999;
$color-grey-3: #eee;

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;

//FONT-SIZE
$default-font-size: 1.6rem;
