.product-composition {
  margin-bottom: 2rem;

  .composition {
    display: flex;
    transition: transform linear 0.05s;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &.left-composition {
      transform: translateX(-100%);
    }

    .img {
      //   width: 45rem;
      height: 45rem;

      @include respond(tab-land) {
        height: 38rem;
      }

      @include respond(tab-port) {
        height: 30rem;
      }

      @include respond(phone) {
        height: 25rem;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }

      img {
        display: block;
        // width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    ::-webkit-scrollbar {
      width: 0;
      height: 0;
      scrollbar-width: none;
      display: none;
    }
  }
}

.section-playroll {
  width: 100%;
  transition: clip-path ease;

  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.section-info {
  margin: 10rem auto;

  .info-card {
    margin: auto;
    width: 80%;
    background-color: $color-grey-1;
    box-shadow: 0px 50px 100px rgba($color-grey-1, 0.15);
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    color: $color-primary;

    @include respond(tab-land) {
      width: 85%;
    }

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      flex-direction: column;
      text-align: center;
      padding: 6rem 3rem 3rem;
    }
  }

  h1 {
    font-size: 6rem;
    line-height: 1.4em;
    margin-bottom: 6rem;

    @include respond(tab-land) {
      font-size: 5rem;
    }

    @include respond(tab-port) {
      font-size: 4rem;
    }

    @include respond(phone) {
      margin-bottom: 4rem;
    }
  }

  .overview {
    width: 45rem;
    height: 28rem;
    overflow: hidden;
    border-radius: 3rem;

    @include respond(tab-land) {
      width: 40rem;
      height: 35rem;
    }

    @include respond(tab-port) {
      width: 32rem;
    }

    @include respond(phone) {
      width: 100%;
      margin-top: 4rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
