.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &-primary {
    padding: 1rem 4rem;
    background-color: $color-primary;
    font-size: 1.8rem;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $color-secondary;
    font-weight: 400;
  }
}
