.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15rem;

  @include respond(phone) {
    margin-bottom: 2rem;
  }

  .oval {
    position: absolute;
    top: -10;
    left: 0;
    z-index: -1;

    img {
      width: 50vw;

      @include respond(tab-land) {
        width: 60vw;
      }
    }
  }

  .text-head {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 8rem;

    @include respond(tab-land) {
      // margin-top: 10rem;
      margin-bottom: 6rem;
    }

    img {
      width: 10rem;
      border-radius: 30px;
      margin-bottom: 3rem;
    }

    h1 {
      font-size: 6rem;
      color: $color-primary;
      font-family: $secondary-font;
      letter-spacing: 0.05em;
      // margin-bottom: 2rem;

      @include respond(phone) {
        font-size: 4rem;
      }
    }

    p {
      color: $color-primary;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 0.6em;
    }
  }

  .overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: calc(100% - 28rem);
    margin: auto;
    display: flex;
    justify-content: space-between;

    @include respond(tab-land) {
      width: calc(100% - 15rem);
    }

    @include respond(tab-port) {
      width: calc(100% - 10rem);
    }

    @include respond(tab-port) {
      width: calc(100% - 5rem);
    }

    .col {
      flex: 1;
      margin: 0 3rem;

      @include respond(tab-land) {
        margin: 0 1.5rem;
      }

      .wrapper {
        border-radius: 5rem;
        width: 100%;
        overflow: hidden;

        @include respond(tab-port) {
          border-radius: 3rem;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.col-1 {
        margin-top: 8rem;
        // transform: translateY(8rem);

        @include respond(phone) {
          display: none;
        }
      }

      &.col-3 {
        margin-top: 12rem;

        @include respond(phone) {
          display: none;
        }
      }

      &.col-2 {
        .wrapper {
          margin-bottom: 8rem;
        }

        .btn {
          width: 100%;
          padding: 2rem 0;
        }
      }
    }
  }
}
