.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
  width: 95%;
  margin: auto;

  @include respond(phone) {
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    img {
      width: 30rem;
    }

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }
}
